<% layout('/layouts/boilerplate.ejs') -%>


<div class="top-menu mt-3">

  <%- include("../includes/sidebar.ejs") %>


  <div class="main-menu p-3 ">

    <%- include("../includes/topbar.ejs") %>

    



    <div class="row mt-3"> 


            <h3 class="card-text mb-3 post-title"><%=post.title%></h3>
            <p class="card-text"><%=post.description%></p>

          <div class="btns mb-4 mt-3">

            <!-- Edit Path -->
            <a href="/posts/<%=post._id%>/edit"class="btn green-btn col-2">Edit</a>

            <!-- Delete Path -->
            <form action="/posts/<%=post._id%>?_method=DELETE" method="post" class="col-2">
              <button class="btn btn-danger ms-2 w-100">Delete</button>
            </form>

          </div>

    <hr>

    <div >
        <h3>All Answers</h3>
    </div>



  </div>

    









</div>

</div>

