<% layout('/layouts/boilerplate.ejs') -%>

<div class="top-menu mt-3">
  <%- include("../includes/sidebar.ejs") %>

  <div class="main-menu p-3">
    <%- include("../includes/topbar.ejs") %>



    <div class="row">

      <div class="col-10 mb-4">
        <div class="post-header d-flex align-items-center mb-4">
          <!-- User Image -->
          <% if (post.owner && post.owner.image && post.owner.image.url) { %>
            <img src="<%= post.owner.image.url %>" alt="User Image" class="user-image">
          <% } else { %>
            <img src="https://res.cloudinary.com/dzhovcqy3/image/upload/v1737752393/wehood_assets/ry0d2nhvytnrj61ph0j9.jpg" alt="Default User Image" class="user-image">
          <% } %>
      
          <!-- Username & Publish Date-->
          <div class="ms-3">
            <h5 class="username mb-0"><%= post.owner.username %></h5>
            <small class="text-muted">Post on <%= new Date(post.createdAt).toLocaleDateString() %></small>
          </div>

        </div>
      
        <!-- Post Title -->
        <h3 class="card-text mb-3 text-break post-title"><%= post.title %></h3>
      
        <!-- Post Description -->
        <p class="card-text text-break"><%= post.description %></p>
      
        <% if (currUser && currUser._id.equals(post.owner._id)) { %>
          <div class="d-flex flex-column flex-md-row gap-2 mb-2 mt-5">
            <!-- Edit Path -->
            <a href="/posts/<%= post._id %>/edit" class="btn green-btn col-md-2 col-12">Edit</a>
      
            <!-- Delete Path -->
            <form class="col-md-2 col-12" action="/posts/<%= post._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger w-100">Delete</button>
            </form>
          </div>
        <% } %>
      </div>
      
     


    <!-- Review's Form -->

    <div class="col-10 mb-3">
    
        <%if(currUser){%>                                                                                                           
          <hr>
          <form action="/posts/<%=post._id%>/comments" method="post" novalidate class="needs-validation mb-4">

              <div class="mb-3 mt-3">
                  <label for="comment" class="form-label">Add Your Answer</label>
                  <textarea class="form-control" name="comments[comment]" id="comment" cols="30" rows="5" required></textarea>
                  <div class="invalid-feedback">Please Add Some Comment</div>
              </div>
          
              <button class="btn btn-outline-dark">Submit</button>
          </form>
          <%}%>
          <hr>



        <!-- Show Review's -->
        <% if (post.comments.length > 0) { %>
            <div class="row mt-4">
              <h5 class="mb-4">All Answers</h5>
              
              <% for (let comments of post.comments) { %>

                <!-- Bootstrap 5 Card -->
                 <div class="card w-100 mb-3 custom-card"> 

                  <div class="card-body py-3 px-0">
                    <div class="d-flex align-items-center mb-3">

                      <!-- User Image -->
                       <% if (comments.author.image && comments.author.image.url) { %>
                        <img src="<%= comments.author.image.url %>" alt="User Image" class="user-image me-3">
                        <% } else { %>
                          <img src="https://res.cloudinary.com/dzhovcqy3/image/upload/v1737752393/wehood_assets/ry0d2nhvytnrj61ph0j9.jpg" alt="Default User Image" class="user-image me-3">
                          <% } %>
                          
                      <!-- Username -->
                       <h5 class="card-title mt-2 mb-0">@<%= comments.author.username %></h5>
                    </div>
                    
                     <!-- Comment Text -->
                      <p class="card-text ms-2"><%= comments.comment %></p>
                  </div>
                  
                    <!-- Delete Review -->
                    <% if (currUser && currUser._id.equals(comments.author._id)) { %> <!-- Authorization for Review Author -->
                      <form class="ms-2 mb-3 mt-1" action="/posts/<%= post._id %>/comments/<%= comments._id %>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    <% } %>

                  </div>
                <% } %>

            </div>
            <% } %>


    </div>
    </div>

</div>
</div>
